:root {
    --cool-green: #00ff00;
    --ui-box-shadow: rgba(0,0,0,0.8);
}

button {
    cursor: pointer;
}

* {
    transition: transform 350ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

popup {
    background-color : #ccc;
    color : #333;
    font-family : Consolas;
    position : absolute;
    justify-content : center;
    padding : 10px;
    width : 200px;
    border-radius: 5px;
    box-shadow: 5px 5px 0px 0px rgba(200,200,200,0.2);
}

popup popuptitle {
    font-size : medium;
    border-bottom: #333 2px;
}

popup popupbody {
    font-size : medium;
    border-bottom: #333 2px;
}

uibox {
    position: absolute;
    top: 10px;
    left: 10px;
    font-family: Helvetica;
    color: var(--cool-green);
    background-color: transparent;
}

uibox * {
    margin: 2px;
    outline: none;
    color : var(--cool-green);
}

inputbox {
    display: block;
}

inputbox * {
    display: inline-block;
    color: inherit;
    background-color: inherit;
}

.delete-btn {
    padding: 0;
    border: none;
    background-color: transparent;
    font-size: 24px;
    transition: transform 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955)
}

.delete-btn:hover {
    transform: rotate(270deg);
}

inputbox input {
    outline: none;
    border: var(--cool-green) 2px solid;
    border-radius: 3px;
    font-size: 18px;
    background-color: var(--ui-box-shadow);
}

.closed {
    transform: translateX(-105%);
}

#new-input-btn {
    border: var(--cool-green) 2px solid;
    border-radius: 3px;
    background-color: var(--ui-box-shadow);
}

#open-and-close-btn {
    float: right;
    border: none;
    background-color: transparent;
}

topbar.closed * {
    transform: translateX(-200px) scale(-1, 1);
}

.variable-slider {
    -webkit-appearance: none;
    height: 10px;
    border-radius: 5px;
    display: block;
    width: calc(100% - 10px);
}

.variable-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    border: var(--cool-green) 2px solid;
    background-color: black;
}

.play-btn {
    padding: 0;
    width: 20px;
    height: 20px;
    border: none;
}

.play-btn .fa {
    margin: 0;
    transition: 0.3s;
}

.play-btn[playing=true] .fa-play {
    transform: rotate(0) scale(0);
    opacity: 0;
}

.play-btn[playing=false] .fa-play {
    transform: rotate(720deg);
}

.play-btn[playing=true] .fa-pause {
    transform: rotate(720deg) translateY(-16px);
}

.play-btn[playing=false] .fa-pause {
    transform: rotate(0) scale(0) translateY(-16px);
    opacity: 0;
}

variablerangebox {
    font-size: 18px;
}

variablerangebox input {
    border: none;
    background: none;
    width: 30px;
}